/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* @import must be at top of file, otherwise CSS will not work */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.senseBoxGreenBanner {
  background-image: radial-gradient(circle, #64b55b, #43a238);
  padding: 0rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
